@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&family=Quicksand&family=Viga&display=swap");
.input, .intro_container .intro_content .intro_col .intro_form select, .intro_container .intro_content .intro_col .intro_form input, .chat__container .chat__content .chat__sendMessage form input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid lightgray;
  outline: none;
  margin: 1rem 0rem 0rem 0rem;
}

.border, .intro_container .intro_content .intro_col .intro_title .border, .chat__container .chat__content .chat__messages .msg .border {
  width: 15%;
  padding: 0.4rem;
  background-color: #FF6636;
  justify-self: flex-start;
}

.button, .intro_container .intro_content .intro_col .intro_form button, .chat__container .chat__content .chat__sendMessage form button {
  outline: none;
  border: none;
  width: 9rem;
  padding: 1rem;
  margin-top: 1.5rem;
  color: black;
  border: 1px solid lightgray;
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 0.3rem;
}

.chat_aside_title, .chat__container .chat__aside .title, .chat__aside_small_size .title {
  width: 100%;
  height: auto;
  padding: 3rem 2rem;
  font-size: 2rem;
  color: #EFEFEF;
  background-color: #3E445A;
}

.chat_aside_users ul li, .chat__container .chat__aside .users ul li, .chat__aside_small_size .users ul li {
  width: 100%;
  list-style-type: none;
  color: #EFEFEF;
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
  margin-top: 0.5rem;
  transition: all 0.4s;
}
.chat_aside_users ul li:hover, .chat__container .chat__aside .users ul li:hover, .chat__aside_small_size .users ul li:hover {
  background-color: #F7F7F7;
  cursor: pointer;
  color: #FF6636;
}

.open_and_close_chat_aside, .chat__container .openChatAside, .chat__aside_small_size .closeChatAside {
  visibility: hidden;
  width: auto;
  height: 10rem;
  background-color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.open_and_close_chat_aside:hover, .chat__container .openChatAside:hover, .chat__aside_small_size .closeChatAside:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .open_and_close_chat_aside, .chat__container .openChatAside, .chat__aside_small_size .closeChatAside {
    visibility: visible;
  }
}

.chat__aside_small_size {
  overflow: hidden;
  width: 0%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #303949;
  transition: all 0.4s;
}
.chat__aside_small_size .closeChatAside {
  right: 0;
}
.chat__container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.chat__container .closeChatAside {
  display: none;
}
.chat__container .openChatAside {
  left: 0;
}
.chat__container .chat__aside {
  width: 20%;
  height: 100%;
  background: #303949;
}
@media (max-width: 768px) {
  .chat__container .chat__aside {
    display: none;
    width: 30%;
    background-color: #303949;
    padding: 0.5rem;
  }
  .chat__container .chat__aside .title {
    font-size: 1.5rem;
  }
  .chat__container .chat__aside .users ul li {
    font-size: 1.3rem;
  }
}
.chat__container .chat__content {
  width: 100%;
  height: 100%;
  background: #F7F7F7;
}
.chat__container .chat__content .chat__messages {
  width: 100%;
  height: 90%;
  padding: 2rem;
  overflow: auto;
}
.chat__container .chat__content .chat__messages .msg {
  width: max-content;
  overflow: hidden;
  max-width: 30rem;
  background-color: #EFEFEF;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem;
}
.chat__container .chat__content .chat__messages .msg .title {
  font-weight: bold;
  font-size: 1.5rem;
}
.chat__container .chat__content .chat__messages .msg .title span {
  margin-right: 1rem;
}
.chat__container .chat__content .chat__messages .msg .title .time {
  color: gray;
}
.chat__container .chat__content .chat__messages .msg .border {
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.chat__container .chat__content .chat__messages .msg .body {
  font-size: 1.5rem;
  padding-top: 0.6rem;
  margin: 1rem 0rem 1rem 0rem;
}
.chat__container .chat__content .chat__messages .msg .body a {
  color: #303949;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.chat__container .chat__content .chat__messages .msg .body a:hover {
  background-color: #FF6636;
  color: white;
}
.chat__container .chat__content .chat__messages .sended_message {
  margin: 1rem 0rem 0rem auto;
  border-top-right-radius: 0rem;
}
.chat__container .chat__content .chat__messages .received_message {
  margin: 1rem auto 0rem 0rem;
  border-top-left-radius: 0rem;
}
.chat__container .chat__content .chat__sendMessage {
  width: 100%;
  height: 10%;
  position: relative;
}
.chat__container .chat__content .chat__sendMessage form {
  display: flex;
}
.chat__container .chat__content .chat__sendMessage form input {
  margin: 1rem;
}
.chat__container .chat__content .chat__sendMessage form button {
  background-color: #FF6636;
  color: white;
  margin: 1rem 1rem 1rem 0.5rem;
}
.chat__container .chat__content .chat__sendMessage form .attachement {
  font-size: 3rem;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__container .chat__content .chat__sendMessage .options {
  display: none;
  width: auto;
  position: absolute;
  bottom: 100%;
  left: 90%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.7rem;
  font-size: 1.4rem;
  z-index: 1;
}
.chat__container .chat__content .chat__sendMessage .options span {
  display: block;
  padding: 1rem;
  transition: all 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.chat__container .chat__content .chat__sendMessage .options span ion-icon {
  margin-right: 0.8rem;
}
.chat__container .chat__content .chat__sendMessage .options span:hover {
  background-color: #EFEFEF;
}
@media (max-width: 768px) {
  .chat__container .chat__content .chat__sendMessage .options {
    left: 60%;
  }
}

.intro_container {
  width: 80%;
  height: 80vh;
  padding: 2rem;
  margin: auto;
}
.intro_container .intro_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_container .intro_content .intro_col {
  width: 45%;
  height: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_container .intro_content .intro_col .intro_title {
  width: 60%;
}
.intro_container .intro_content .intro_col .intro_title h1 {
  font-family: "Viga", sans-serif;
  font-size: 7rem;
}
.intro_container .intro_content .intro_col .intro_title span {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
}
.intro_container .intro_content .intro_col .intro_form {
  width: 60%;
  margin-top: 2rem;
}
.intro_container .intro_content .intro_col .intro_form .divider {
  padding: 0.1rem;
  background-color: #EFEFEF;
  margin: 3rem 0rem 3rem 0rem;
  position: relative;
}
.intro_container .intro_content .intro_col .intro_form .divider::after {
  width: 2rem;
  height: 2rem;
  content: "Or";
  position: absolute;
  bottom: 50%;
  left: calc(50% - 1rem);
  color: white;
  transform: translateY(50%);
  font-size: 1rem;
  background-color: #FF6636;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.intro_container .intro_content .intro_col img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .intro_container .intro_content .intro_col {
    width: 100%;
  }
  .intro_container .intro_content .intro_col:nth-child(2) {
    display: none;
  }
}
@media (max-width: 768px) {
  .intro_container {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}

/*# sourceMappingURL=index.css.map */
